@font-face {
  font-family: 'JurassicPark';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/JurassicPark.otf');
}

@font-face {
  font-family: 'Dinosaur Icons';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Dinosaur Icons.otf');
}

